h1 {
    text-align: center;
    font-size: 70px;
}

.progress-bar {
    background-color:rgb(250, 100, 0);
   
}

.jumbotron {
    margin-top:100px;
}

#spaces {
    text-align: center;
    
}

.alphabet-box {
    display:flex;
    justify-content:space-around;
}

#rightLetter {
    display:flex;
    align-content: space-between
    
}

#N {
    display:none;
}

#E {
    display:none;
}

#R {
    display:none;
}

#D { 
    display:none;
}